@import 'inter.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    height: 100%;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#__nuxt {
    @apply bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-100
}